
        .blog-content {overflow: hidden;}
        .blog-item {
            width: 32%;
            background-color: var(--whitecolor);
        }

        .blog-item.mg {margin: 0 2%;}

        .blog-info {padding: 20px;}
        .blog-item-img img {width: 100%;}

        .blog-list {
            margin: 10px 0;
            list-style-type: none;
        }

        .blog-list li {
            display: inline-block;
            margin: 0 5px;
        }

        .blog-list li i {
            color: var(--maincolor);
        }

        .blog-item-title {
            font-weight: bold;
            margin: 20px 0;
            font-size: 21px;
        }

        .blog-desc {color: var(--graycolor); line-height: 1.5;}

        .blog-link {color: var(--maincolor);}

