
.header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.4);
}
.header .logo {width: 40%;}
.header .logo img {
    width: 20%;
    margin-top: 15px;
}
.header nav {
    width: 60%;
    text-align: right;
}
.header nav > ul li {
    display: inline-block;
    text-align: right;
}
.header nav > ul li > a {
    text-decoration: none;
    color: var(--whitecolor);
    display: block; 
    padding:30px 15px;
    font-size: 15px;
}

.header nav > ul li > a::after,
.header nav > ul li > a.active::after {
    content: "";
    display: block;
    height: 3px;
    margin-top: 2px;
    background-color: var(--maincolor);
    transition: width 0.5s;
}

.header nav > ul li > a.active::after {width: 100%;}
.header nav > ul li > a::after {width: 0;}
.header nav > ul li > a:hover::after {width: 100%;}
.dropdown {position: relative;}

.dropdown-menu {
    position: absolute;
    width: 150px;
    background-color: var(--maincolor);
    text-align: center;
    top: 70%;
    left: -40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown .dropdown-menu li a {
    color: var(--whitecolor);
    display: block;
    padding: 10px;
}



